/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  width: 100%;
  max-width: 375px; /* Mobile width */
  padding: 16px;
}

/* Tarjeta de feedback */
.feedback-card,
.thank-you-card {
  background-color: hsl(213, 19%, 18%);
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 375px; /* Mantiene el diseño responsivo */
}

/* Icono */
.icon {
  width: 48px;
  height: 48px;
  background-color: hsl(216, 12%, 8%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px;
}

.icon.star {
  width: 32px;
  height: 32px;
  background-image: url("assets/icon-star.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.icon.thank-you {
  width: 64px;
  height: 64px;
  background-image: url("assets/illustration-thank-you.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}

.feedback-card h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.feedback-card p {
  color: hsl(217, 12%, 63%);
  margin-bottom: 16px;
}

/* Botones de calificación */
.rating {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.rating button {
  width: 48px;
  height: 48px;
  background-color: hsl(216, 12%, 8%);
  border: none;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rating button:hover,
.rating button.active {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

/* Botón de envío */
.submit-button {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border: none;
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: hsl(25, 97%, 63%);
}

/* Thank You Card */
.thank-you-card h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.thank-you-card p {
  color: hsl(217, 12%, 63%);
  margin-bottom: 16px;
}

.selected-rating {
  background-color: hsl(216, 12%, 8%);
  color: hsl(25, 97%, 53%);
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 20px;
  margin: 0 auto 24px;
  display: inline-block;
}
